body {
    margin: 0;
    padding: 0;
  
}
header.home {
    background-attachment: fixed;
    background-image: url(https://cdn.shopify.com/s/files/1/0334/1729/t/5/assets/slide4.jpg?v=18436139103609394456);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px -13px 35px 14px #666;
    height: 600px;
    overflow: hidden;
    position: relative;
    width: 200vmax;
  }

  footer{
      font-size: 16px;
      font-family: Arial, Helvetica, sans-serif;
      color: darkblue;
   
  }
  
   h2, h3, h4, p {
    color: white;
    font-family: 'Oswald', sans-serif;
  }
  h1 {
    color: black;
    font-family: 'Lobster', cursive;
    font-size: 5em;
    font-weight: 900;
  }
  h2 {
    font-size: 2.5em;
    font-weight: 700;
  }
  h3 {
    font-size: 2.125em;
    font-weight: 500;
  }
  h4 {
    font-size: 1.5em;
    font-weight: 400;
  }
  p {
    font-size: 1em;
    font-weight: 400;
  }
  em {
    text-decoration: none;
    font-size: 1em;
    font-style: italic;
  }
  div {
    display: block;
  }
  
  /* Nav */

  nav.top {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 15px;
    margin-top: 15px;
    position: relative;
    font-family: oswald;
    font-size: 2.25em;
    width: 98vw;
    height: 50px;
  }
  nav.top a {
    color: rgba(67, 109, 4, 0.808);
    text-decoration: none;
    padding-left:5px;
  }
  nav.top li {
    vertical-align: bottom;
    display: inline;
    position: relative;
    transition: all ease .3s;
  }
  nav.top li:hover {
    background: darkslategray;
  }
  nav.top li::before {
    content: "";
    position: absolute;
    top:4px;
    left:0;
    bottom:0;
    border-left: solid 1px white;
    height: 80%;
  }
  /* Background of section */
#locations {
    background: darkgray;
    height: 1200px;
  }
  #about {
    background: darkslategray;
    height: 900px;
  }
  #sales {
    background: rgb(236, 13, 13);
    height: 250px;
  }

  /* Section */
section.full-width {
  position: relative;
  height:150vh;
  width:100vw;
  text-align:center;
  box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.2);
  overflow: auto;
}


.color{
color: indianred;
}
 .size{
   font-size: 24px;
 }
 .family{
font-family: Georgia, 'Times New Roman', Times, serif;
 }
 select{
   size: 20px;
 }